@import "variables";
.article{
    background: $VeryLightGray;
    padding: 5.625rem 1.5rem;
    // background: lime;
    .cont{
        margin: 0 auto;
        max-width: 1112px;
    }
    h1{
        color: $DarkBlue;
        font-size: 2.5rem;
        margin-bottom: 3.2rem;
    }
    &__grid{
        padding-top: 1rem;
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        height: 30rem;
        // transform: scale(0.8);
    }
    &__card{
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        display: block;
        margin: 0 0.5rem;
        width: 20rem;
        transition: all 300ms ease-in-out;
        background: $White;
        max-height: 26rem;
        
    }
    &__image{
        height: 12.5rem;
        background-size: cover;
        background-position: 0 0;   
        background-repeat: no-repeat;

    }
    &__text{
        padding: 2rem 1.25rem ;
    }
    &__author{
        font-size: 0.6875rem;
        padding-bottom: 0.5rem;
    }
    &__title{
        color:$DarkBlue;
        font-size: $font-med;
        font-size: 0.9375rem;
        letter-spacing: 0.3px;
        width: 10rem;
        padding-bottom: 0.5rem;
    }
    &__prev{
        letter-spacing: 0;
        font-size: 0.8125rem;
        width: 13rem;
    }
    
}
.slick-list{

    min-height: 30rem;
}

@media(min-width: 901px){
    .article{
        &__card{
            &:hover{
                cursor: pointer;
                transform: scale(1.05);
            }
        }
    }
}

.footer{
    height: 500px;
    background: $DarkBlue;
}